{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'dogs/css/main.css' %}">
    <style>
        h3.opensans {font-family: "Open Sans";}
        p.opensans {font-family: "Open Sans";}
    </style>
</head>
<body>
    <aside>
        {% if dog_id %}
            <h3>Изменить собаку</h3>
        {% else %}
            <h3>Добавить собаку</h3>
        {% endif %}
        <!-- <h3 class="opensans">Добавить собаку</h3> -->
        <div class="features">
            <!-- <h1>Форма по добавлению собаки</h1> -->
            <form method="post">
                {% csrf_token %}
                <input list="breeds" 
                    type="text" 
                    name="breed" 
                    placeholder="Порода" 
                    value="{{ dog_breed }}"> <br>

                <input type="text" 
                    id="rkf" 
                    name="rkf" 
                    placeholder="РКФ" 
                    value="{{ dog.rkf }}"> <br>

                <input type="text" 
                    id="region" 
                    name="region" 
                    placeholder="Регион" 
                    value="{{ dog.region }}"> <br>

                <input type="date" 
                    id="birth_date" 
                    name="birth_date" 
                    placeholder="{{ dog.birth_date }}" 
                    value="{{ dog_date }}"> <br>
                
                {% if dog.is_male == True %}
                    <input type="radio" 
                        id="male" 
                        name="sex" 
                        value="male" 
                        checked>                        
                    <label for="male">Кобель</label> <br>

                    <input type="radio" 
                        id="female" 
                        name="sex" 
                        value="female">
                    <label for="female">Сука</label> <br>

                {% else %}
                    <input type="radio" 
                        id="male" 
                        name="sex" 
                        value="male">
                    <label for="male">Кобель</label> <br>

                    <input type="radio" 
                        id="female" 
                        name="sex" 
                        value="female" 
                        checked>
                    <label for="female">Сука</label> <br>

                {% endif %}

                <input type="text" 
                    id="tattoo" 
                    name="tattoo" 
                    placeholder="Клеймо" 
                    value="{{ dog.tattoo }}"> <br>

                <input type="text" 
                    id="chip" 
                    name="chip" 
                    placeholder="Чип" 
                    value="{{ dog.chip }}"> <br>

                <input type="text" 
                    id="name_ru" 
                    name="name_ru" 
                    placeholder="Кличка на русском" 
                    value="{{ dog.name_ru }}"> <br>

                <input type="text" 
                    id="name_en" 
                    name="name_en" 
                    placeholder="Кличка на английском" 
                    value="{{ dog.name_en }}"> <br>

                <input type="text" 
                    id="colour_ru" 
                    name="colour_ru" 
                    placeholder="Окрас на русском" 
                    value="{{ dog.colour_ru }}"> <br>

                <input type="text" 
                    id="colour_en" 
                    name="colour_en" 
                    placeholder="Окрас на английском" 
                    value="{{ dog.colour_en }}"> <br>

                <input type="text" 
                    id="breeder" 
                    name="breeder" 
                    placeholder="Заводчик" 
                    value="{{ dog.breeder }}"> <br>

                <input type="text" 
                    id="owner" 
                    name="owner" 
                    placeholder="Владелец" 
                    value="{{ dog.owner }}"> <br>

                <input type="text" 
                    id="father_tattoo" 
                    name="father_tattoo" 
                    placeholder="Клеймо папы" 
                    value="{{ dog.father_tattoo }}"> <br>

                <input type="text" 
                    id="mother_tattoo" 
                    name="mother_tattoo" 
                    placeholder="Клеймо мамы" 
                    value="{{ dog.mother_tattoo }}"> <br>

                <input type="text" 
                    id="father_name" 
                    name="father_name" 
                    placeholder="Кличка папы" 
                    value="{{ dog.father_name }}"> <br>

                <input type="text" 
                    id="mother_name" 
                    name="mother_name" 
                    placeholder="Кличка мамы" 
                    value="{{ dog.mother_name }}"> <br>

                <input type="text" 
                    id="short_address" 
                    name="short_address" 
                    placeholder="Короткий адрес" 
                    value="{{ dog.short_address }}"> <br>

                <span>{{ error }}</span>
                {% if dog_id %}
                    <button class="btn btn-success" type="submit" name="btn" value="update" formaction="{% url 'dogs_update' dog_id %}">Изменить</button>
                {% else %}
                    <button class="btn btn-success" type="submit" name="btn" value="add" >Добавить</button>
                {% endif %}
            </form>
        
            <datalist id="breeds">
                {% for el in breed_ru_names %}
                    <option value="{{ el }}"></option>
                {% endfor %}
            </datalist>
        </div>
    </aside>

    <main>
        <h3 class="main_h3">Записи по собакам</h3>
        <table>
            {% if dogs %}
                <tr>
                    <th>id</th>
                    <th>breed_id</th>
                    <th>rkf</th>
                    <th>region</th>
                    <th>birth_date</th>
                    <th>is_male</th>
                    <th>tattoo</th>
                    <th>chip</th>
                    <th>name_ru</th>
                    <th>name_en</th>
                    <th>colour_ru</th>
                    <th>colour_en</th>
                    <th>breeder</th>
                    <th>owner</th>
                    <th>father_tattoo</th>
                    <th>mother_tattoo</th>
                    <th>father_name</th>
                    <th>mother_name</th>
                    <th>short_address</th>
                </tr>
                {% for el in dogs %}
                    <tr>
                        <th><a href="{% url 'dogs_update' el.id %}">{{ el.id }}</a></th>
                        <th>{{ el.breed_id }}</th>
                        <td>{{ el.rkf }}</td>
                        <td>{{ el.region }}</td>
                        <td>{{ el.birth_date }}</td>
                        <td>{{ el.is_male }}</td>
                        <td>{{ el.tattoo }}</td>
                        <td>{{ el.chip }}</td>
                        <td>{{ el.name_ru }}</td>
                        <td>{{ el.name_en }}</td>
                        <td>{{ el.colour_ru }}</td>
                        <td>{{ el.colour_en }}</td>
                        <td>{{ el.breeder }}</td>
                        <td>{{ el.owner }}</td>
                        <td>{{ el.father_tattoo }}</td>
                        <td>{{ el.mother_tattoo }}</td>
                        <td>{{ el.father_name }}</td>
                        <td>{{ el.mother_name }}</td>
                        <td>{{ el.short_address }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>У вас нет записей!</p>
            {% endif %}
        </table>
    </main>
</body>